# 必須: Direnv
#   install: 
#     - Nix: (nix direnv) https://github.com/nix-community/nix-direnv
#     - Not Nix: (official) https://github.com/direnv/direnv

# Nix Flake を使う場合のみ。
if command -v nix; then
	use flake
fi
